name: Win32 Build

on:
  push:
  workflow_dispatch:
env:
  LLVMVER: 21.1.6
jobs:
  build_win32:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: llvmlibs_mt
          - name: llvmlibs_md

    runs-on: windows-2025
    timeout-minutes: 0
    name: LLVM ${{ matrix.name }} 
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 1
        
    - name: Configure LLVM
      shell: bash
      run: |
        mkdir -p llvm_out/build/
        echo " this is my file " > llvm_out/build/${{ matrix.name }}.123.txt
        
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.name }}
        path: llvm_out/build/${{ matrix.name }}.*
        
  deploy-llvm:
    name: deploy llvm
    runs-on: windows-2025
    needs: build_win32
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - uses: actions/download-artifact@v4
      with:
        name: llvmlibs_*
        path: bin
        
    - name: Create or update GitHub release and upload assets
      #if: github.ref == 'refs/heads/master' && success()
      run: gh release create "tag-${{ env.LLVMVER }}" bin/* --title "Test ${{ env.LLVMVER }}"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

