name: Win32 Build

on:
  push:
  workflow_dispatch:
env:
  LLVMVER: 21.1.6
jobs:
  build_win32:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: llvmlibs_mt
          - name: llvmlibs_md

    runs-on: windows-2025
    timeout-minutes: 0
    name: LLVM ${{ matrix.name }} 
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 1
        
    - name: Configure LLVM
      shell: bash
      run: |
        mkdir -p llvm_out/build/
        echo " this is my file " > llvm_out/build/${{ matrix.name }}.123.txt
         
    - name: Create or update GitHub release and upload assets
      #if: github.ref == 'refs/heads/master' && success()
      run: gh release create "tag-${{ env.LLVMVER }}" llvm_out/build/${{ matrix.name }}.* --title "Test ${{ env.LLVMVER }}"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

