name: Win32 Build

on:
  push:
    #branches: [ master ]
    tags:
    - '*'
  workflow_dispatch:
env:
  LLVMVER: 21.1.6
jobs:
  build_win32:
    runs-on: windows-2025
    timeout-minutes: 0
    steps:
    #- name: Checkout
    #  uses: actions/checkout@v4
    #  with:
    #    fetch-depth: 0
        
    - name: Configure LLVM
      shell: bash
      run: |
        mkdir -p llvm_out/build/
        cp CMakeLists.txt llvm_out/build/llvmlibs_mt.123.txt

    #- name: Automatic Releases
    #  id: create_release
    #  uses: actions/create-release@v1
    #  with:
    #    tag_name: ${{ env.LLVMVER }}
    #  env:
    #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
    - name: Create or update GitHub release and upload assets
      #if: github.ref == 'refs/heads/master' && success()
      run: gh release create "${{ env.LLVMVER }}" llvm_out/build/llvmlibs_mt.* --title "Release ${{ env.LLVMVER }}"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    #- name: Configure LLVM
    #  shell: bash
    #  run: go install github.com/tcnksm/ghr@latest
